@charset "UTF-8";

main,
footer {
  position: relative;
}

.stage {
  display: block;
  width: 100%;
}

.title,
.ctrlboard {
  border: solid 1px black;
  padding: 10px;
  margin-bottom: 10px;
}

.title {
  width: 25%;
  position: absolute;
  top: 10%;
  left: 3%;
  background-color: white;
}

.poinboard {
  background-color: silver;
  width: 252px;
  padding: 0px 10px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.points {
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.point {
  background-color: gray;
  border: solid 2px black;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 5px 0px;
  width: 80px;
}

.point.active {
  background-color: yellow;
  color: red;
  border-color: red;
}

.foundation,
.boardhead {
  height: 1.5em;
}

.operationboard {
  width: 20%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: white;
}

.coinboard h1 {
  margin: 15px 0px;
}

.coinimg {
  width: 20%;
}

.coinboard button {
  width: 100%;
  padding: 3em 0px;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: red;
}

.coinboard button:disabled {
  background-color: gray;
  cursor: default;
  opacity: 1;
}
